{% macro back_link(path) %}
<header>
  <nav>
    <a id="back-link" href="{{ path }}">← {{ config.extra.back_link_text }}</a>
    <a id="home-link" href="/">Home</a>
    {% if not config.extra.force_theme %}
    {% set moon_icon = load_data(path="icon/moon.svg") %}
    {% set sun_icon = load_data(path="icon/sun.svg") %}
    <button id="theme-toggle" aria-label="theme switch">
      <span class="moon-icon">{{ moon_icon | safe }}</span>
      <span class="sun-icon">{{ sun_icon | safe }}</span>
    </button>
    {% endif %}
  </nav>
</header>
{% endmacro %}


{% macro callout(name) %}
<blockquote class="callout {{ name }} {% if title %}has-title{% else %}no-title{% endif %}">
  {% set icon = load_data(path="icon/" ~ name ~ ".svg") %}
  {% if title %}
  <p class="title">
    <span class="icon">
      {{ icon | safe }}
    </span>
    <strong>{{ title }}</strong>
  </p>
  <div class="content">
    {{ body | markdown | safe }}
  </div>
  {% else %}
  <div class="icon">
    {{ icon | safe }}
  </div>
  <div class="content">
    {{ body | markdown | safe }}
  </div>
  {% endif %}
</blockquote>
{% endmacro %}
