<style>

  /* light mode colors */
  body {
    --primary-color: #4a6291;
    --primary-pale-color: #4a629133;
    --primary-decoration-color: #4a629110;
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --text-pale-color: #595959;
    --text-decoration-color: #767676;
    --highlight-mark-color: #4a629120;

    --callout-note-color: #4a6291;
    --callout-tip-color: #268556;
    --callout-important-color: #7a4fba;
    --callout-warning-color: #9a5525;
    --callout-caution-color: #b33b3b;
  }

  /* dark mode colors */
  body.dark {
    --primary-color: #6f8fd1;
    --primary-pale-color: #6f8fd166;
    --primary-decoration-color: #6f8fd112;
    --bg-color: #1c1c1c;
    --text-color: #d4d4d4;
    --text-pale-color: #9a9a9a;
    --text-decoration-color: #8a8a8a;
    --highlight-mark-color: #8296cb3b;

    --callout-note-color: #6f8fd1;
    --callout-tip-color: #47976f;
    --callout-important-color: #9776cd;
    --callout-warning-color: #ad7a52;
    --callout-caution-color: #e07070;
  }

  /* typography */
  body {
    --main-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --homepage-max-width: 768px;
    --main-max-width: 768px;
    --avatar-size: 60px;
    --font-size: 16px;
    --line-height: 1.75;
    --img-border-radius: 0px;
    --detail-border-radius: 0px;
    --dark-mode-img-brightness: 0.75;
    --dark-mode-chart-brightness: 0.75;
    --inline-code-border-radius: 2px;
    --inline-code-bg-color: var(--primary-decoration-color);
    --block-code-border-radius: 0px;
    --block-code-border-color: var(--primary-color);
    --detail-border-color: var(--primary-color);
  }

</style>
